<table class="table table-bordered table-hover table-condensed">
	<tr>
		<th class="text-center">name</th>
		<th class="text-center">img-url</th>
		<th class="text-center">time</th>
		<th class="text-center">status</th>
	</tr>
    <%= render :partial => "image", :collection => @list %>
</table>

