<div class="container">

	<div class="row">
	<div class=" col-md-3">
	<% if @task_list %>
		<table class="table table-bordered table-hover table-condensed">
			<tr>
				<th class="text-center">task-name</th>
			</tr>
			<% @task_list.each_index do |i| %>
			<tr>
				<td><%=link_to  @task_list.fetch(i)[:name], :remote => true, "data-type" => "script","id" => @task_list.fetch(i)[:id] %> 
				</td>
			</tr>
			<% end %>
		</table>
	<% end %>
	</div>
	<div class=" col-md-9" id="content">
	</div>
	</div>
</div>

