<h2 class="text-center"><%= @gallery[:name] %></h2>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<table class="table table-striped table-hover">
		<thead>
		  <tr>
		    <th class="text-center">name</th>
		    <th class="text-center">size</th>
		    <th class="text-center">updatatime</th>
		  </tr>
		</thead>	
		<% @list.each do |pictrue| %>
		<tr class="picture-info">
			<td class="text-center picture-name"><%= pictrue[:name] %></td>
			<td class="text-center"><%= "#{pictrue[:size]/1024}kb" %></td>
			<td class="text-center"><%= pictrue[:time].strftime('%Y-%m-%d %H:%M:%S') %></td>
		</tr>
		<% end %>
		</table>
	</div>
	<div class="col-md-4 col-md-offset-1 text-center view-picture" style="position:fixed;bottom:50px;right:100px;">
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        $('.picture-info').click( function(){
        	var name = $(this).children(".picture-name").text();
        	$(".view-picture").html('<img  class="img-thumbnail" src="/picture/tba/'+name+'" />');
        });

    });	
</script>