<div class="row">
	<div class="col-md-10 col-md-offset-1">
	<div class="btn-group col-md-2 col-md-offset-10" style="margin-bottom:20px;">	
	<a href="/gallery/list"><button type="button btn-default"><span class="glyphicon glyphicon-picture"></span></button></a>
	<a href="/gallery/list?type=1&order=1"><button type="button btn-default"><span class="glyphicon glyphicon-list"></span></button></a>
	</div>
	<% @list.each do |gallery| %>
	<div class="col-md-2">
		<p><%= link_to :action => "gallery_detail/#{gallery[:id]}" do %><h4><%= gallery[:name] %></h4><% end %>(<%= gallery[:number] %>)</p>
	</div>
	<% end %>
	</div>
</div>